.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/*
data/processed/*
data/external/*
data/synthetic/*
data/synthetic/generated/*
data/synthetic/specs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/synthetic/.gitkeep
!data/synthetic/generated/.gitkeep
!data/synthetic/specs/.gitkeep
outputs/models/*
outputs/reports/*
outputs/figures/*
!outputs/models/.gitkeep
!outputs/reports/.gitkeep
!outputs/figures/.gitkeep
.git/
uv.lock
